@import 'variables';
@import 'functions';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

html {
  font-size: $font-size-base;
}

/* example: use mixin for font-size on rem */
p {
  @include fontSize(32px);
}
