$main_color: #008F37;
$white-color: #FFF;
$header-image: url(../images/header_bg.jpg);
$logo-font: 'Sarina', cursive;
$main-font: 'Roboto', sans-serif;
$header-font: 'Noto Serif', serif;
$box-shadow-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, .567));
